<!DOCTYPE html>
<html>
<head>
  <title>Emotnr</title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src='https://netlify.scdn4.secure.raxcdn.com/js/77c4c5f1c76a34f7e93cb137111674922c21e6a7/share-button.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
